/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

body {
    background: #f7a893ff;
}

h1.nav-name{
    font-family: 'Caveat', cursive;
    color: white;
}

.nav-item{
    font-family: 'Lato', sans-serif;
    color: white;
}

h1.project-title {
    font-family: 'Caveat', cursive;
    color: white;
    text-align: center;
}

h2.section-title {
    font-family: 'Caveat', cursive;
    color: white;
    opacity: 0.8;
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
    color: white;
    margin-left: 5rem;
    margin-right: 5rem;
}

.pp-gallery {
    margin-top: 20px;
    padding: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.pp-gallery-item {
    object-fit: contain;
    padding-right: 15px;
    padding-top: 15px;
  }

  .pp-gallery-item2 {
    object-fit: contain;
  }
