/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

body {
    background: #f7a893ff;
}

h1.project-title {
    font-family: 'Caveat', cursive;
    color: white;
    text-align: center;
}

h2.section-title {
    font-family: 'Caveat', cursive;
    color: white;
    opacity: 0.8;
}

p {
    font-family: 'Lato', sans-serif;
    color: white;
}